<div id="calculator" class="calculator">
  <p class="description">Karatsuba method to multiply 2,531 x 1,467 requires
    <span class="red">9 single-digit multiplications.</span></p>
  <h2 class="inputs__heading">Karatsuba Calculator:</h2>
  <div class="inputs">
    <div class="input-container">
      <label for="num01">enter a multi-digit number</label>
      <Input
        id="num01"
        placeholder="Ex: 89123"
        required="true"
        @type="text"
        @value={{@num01}}
      />
      <span class="input__span"></span>
    </div>
    <span class="operator blue">x</span>
    <div class="input-container">
      <label for="num02">enter a multi-digit number</label>
      <Input
        id="num02"
        placeholder="Ex: 54765"
        required="true"
        @type="text"
        @value={{@num02}}
      />
      <span class="input__span"></span>
    </div>
    <button
      id="calculate"
      type="button"
      {{on "click" @calculate}}
      class="calc-button"
    >Calculate</button>
  </div>
</div>