<div class="steps__savings"> <span class="red">Single digit multiplications</span> for {{@numsInput.[0]}} x {{@numsInput.[1]}}:<br/>Karatsuba: {{@stepSavings.[0]}} | Standard: {{@stepSavings.[1]}}</div>
