<div class="steps__savings">
  <span class="red">Single digit multiplications</span>
  for
  {{get @numsInput 0}}
  x
  {{get @numsInput 1}}:<br />Karatsuba:
  {{get @stepSavings 0}}
  | Standard:
  {{get @stepSavings 1}}</div>